body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
}

nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  margin-bottom: 20px; /* Espace entre nav et login-container */
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  padding: 5px 10px;
  background-color: #555;
  border-radius: 5px;
  display: inline-block;
}

nav a:hover {
  background-color: #777;
}

#content {
  margin-top: 20px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background: #f4f4f4;
}

h2 {
  color: #333;
}

.login-container {
  margin: 0 auto; /* Centre le bloc horizontalement */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  text-align: center;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
  color: #333;
}

.login-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.login-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color:blue;
  color: white;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #555;
}
